{{/*
Config Connector - Cloud SQL PostgreSQL Instance
Provisions Cloud SQL infrastructure as part of the Helm deployment.
The TFE deployment includes an initContainer that waits for these resources
to become ready before starting the main TFE container.
*/}}
{{- if .Values.configConnector.enabled }}
---
# Cloud SQL PostgreSQL Instance
apiVersion: sql.cnrm.cloud.google.com/v1beta1
kind: SQLInstance
metadata:
  name: {{ .Release.Name }}-postgres
  namespace: {{ .Release.Namespace }}
  annotations:
    cnrm.cloud.google.com/project-id: {{ .Values.configConnector.projectId | quote }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: database
spec:
  databaseVersion: {{ .Values.configConnector.sql.databaseVersion | default "POSTGRES_16" }}
  region: {{ .Values.configConnector.sql.region | default "us-central1" }}
  settings:
    tier: {{ .Values.configConnector.sql.tier | default "db-custom-4-16384" }}
    availabilityType: {{ .Values.configConnector.sql.availabilityType | default "ZONAL" }}
    diskSize: {{ .Values.configConnector.sql.diskSize | default 50 }}
    diskType: {{ .Values.configConnector.sql.diskType | default "PD_SSD" }}
    diskAutoresize: true
    backupConfiguration:
      enabled: true
      pointInTimeRecoveryEnabled: true
      startTime: "03:00"
    ipConfiguration:
      ipv4Enabled: false
      privateNetworkRef:
        external: projects/{{ .Values.configConnector.projectId }}/global/networks/{{ .Values.configConnector.networkName | default "default" }}
    databaseFlags:
      - name: max_connections
        value: "500"
---
# Cloud SQL Database
apiVersion: sql.cnrm.cloud.google.com/v1beta1
kind: SQLDatabase
metadata:
  name: {{ .Release.Name }}-tfe
  namespace: {{ .Release.Namespace }}
  annotations:
    cnrm.cloud.google.com/project-id: {{ .Values.configConnector.projectId | quote }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: database
spec:
  resourceID: tfe  # Use "tfe" as the actual database name in GCP
  charset: UTF8
  collation: en_US.UTF8
  instanceRef:
    name: {{ .Release.Name }}-postgres
---
# Cloud SQL User
apiVersion: sql.cnrm.cloud.google.com/v1beta1
kind: SQLUser
metadata:
  name: {{ .Release.Name }}-user
  namespace: {{ .Release.Namespace }}
  annotations:
    cnrm.cloud.google.com/project-id: {{ .Values.configConnector.projectId | quote }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: database
spec:
  instanceRef:
    name: {{ .Release.Name }}-postgres
  password:
    valueFrom:
      secretKeyRef:
        name: {{ .Release.Name }}-db-credentials
        key: password
---
# Database credentials secret (generated password)
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-db-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: database
type: Opaque
data:
  {{- if .Values.databasePassword }}
  password: {{ .Values.databasePassword | b64enc }}
  {{- else }}
  password: {{ randAlphaNum 24 | b64enc }}
  {{- end }}
{{- end }}
