{{/*
Config Connector - GCS Storage Bucket
Provisions GCS bucket for TFE object storage as part of the Helm deployment
*/}}
{{- if .Values.configConnector.enabled }}
---
# GCS Storage Bucket for TFE
apiVersion: storage.cnrm.cloud.google.com/v1beta1
kind: StorageBucket
metadata:
  name: {{ .Release.Name }}-storage
  namespace: {{ .Release.Namespace }}
  annotations:
    cnrm.cloud.google.com/project-id: {{ .Values.configConnector.projectId | quote }}
    cnrm.cloud.google.com/force-destroy: "false"
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: storage
spec:
  # Bucket name must be globally unique - include project ID
  resourceID: {{ .Values.configConnector.projectId }}-{{ .Release.Name }}-tfe
  location: {{ .Values.configConnector.gcs.location | default "US" }}
  storageClass: {{ .Values.configConnector.gcs.storageClass | default "STANDARD" }}
  uniformBucketLevelAccess: true
  publicAccessPrevention: enforced
  versioning:
    enabled: true
  {{- if .Values.configConnector.gcs.lifecycleRules }}
  lifecycleRule:
    {{- toYaml .Values.configConnector.gcs.lifecycleRules | nindent 4 }}
  {{- end }}
---
# IAM Policy for TFE Service Account to access bucket
{{- if .Values.configConnector.gcs.enableIAM }}
apiVersion: storage.cnrm.cloud.google.com/v1beta1
kind: StorageBucketAccessControl
metadata:
  name: {{ .Release.Name }}-storage-acl
  namespace: {{ .Release.Namespace }}
  annotations:
    cnrm.cloud.google.com/project-id: {{ .Values.configConnector.projectId | quote }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: storage
spec:
  bucketRef:
    name: {{ .Release.Name }}-storage
  entity: user-{{ .Values.configConnector.projectId }}.svc.id.goog[{{ .Release.Namespace }}/{{ .Values.tfeServiceAccount | default "terraform-enterprise" }}]
  role: WRITER
{{- end }}
{{- end }}
